body {
    font-family: 'Nobile', arial, serif;
    margin: 0;
    padding:0;
    background-color: #f8f8f8;
    color: #404040;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Expletus Sans', arial, serif;
}


a { text-decoration: none; color: #5f7ab3; }

input[type=text], input[type=password], input[type=email], input[type=number], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input[type=email], input[type=number], input.text, input.title, textarea, select {margin:0.5em 0;}
input[type=text], input[type=password], input[type=email], input[type=number], input.text, input.title {font-family: 'Nobile', arial, serif; padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}

#header-warp {
    margin: 0;
    padding:0;
    height: 102px;
    background: url(../images/bg_header.png) repeat-x #fff;
}
#header {
    padding: 10px;
}

#menunav {
    font-size: 10px;
}

#featured-warp {
    margin: 0;
    padding:0;
    height: 410px;
    background: url(../images/bg_featured.png) repeat-x #fff;
}

#featured {
}

#featured h1 {
    font-family: 'Nobile', arial, serif;
    font-size: 42px;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px #143882;
    font-weight: normal;
}

#content-warp {
    margin: 0;
    padding:0;
    min-height: 14px;
    background: url(../images/bg_content.png) repeat-x #f8f8f8;
}

#content {
    padding: 10px;
}
