        <div id="pitch">
            <h1>Conferences service with phones, Flash and much more.</h1>
        </div>
        <div class="third">&nbsp;</div>
        <div class="third" style="text-align: center; font-size: 3em;">
            <%= link_to 'Sign up', signup_path if !signed_in? %>
        </div>
        <div class="third last">&nbsp;</div>