<% require 'cgi' %>
<div class="participant_input">
    <h2>You are: <%=@participant.name%></h2>
    <div id="input_audio_container"></div>
    <div id="input_video_container"></div>
    <script type="text/javascript">
        var url_audio_input = "<%= raw(@participant.pb_input_output_flash) %>";
        swfobject.embedSWF(url_audio_input, 'input_audio_container', 320, 240, '10.0.0');
        AMVideo.input.stream = "peer<%=@participant.id%>";
        AMVideo.input.container = "input_video_container";
    </script>
</div>
