<% if !@room.phonebrowser_service.listener_uri.nil? %>
<div class="listener_participant">
    <h2>Audio</h2>
    <script type="text/javascript">
        var url_audio_listener = '<%= @room.phonebrowser_service.listener_uri %>'
        swfobject.embedSWF(url_audio_listener, 'listener_container', 320, 240, '10.0.0');
    </script>
    <div id="listener_container"></div>
</div>
<% end %>