<% if !@room.phonebrowser_service.listener_uri.nil? %>
<div class="listener_participant">
<h2>Audio</h2>
<object id="listener"
        codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab"> 
    <embed src="<%= @room.phonebrowser_service.listener_uri %>"
           width="320" 
           height="240"
           name="listener"
           align="middle"
           play="true"
           loop="false"
           quality="high"
           allowScriptAccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.adobe.com/go/getflashplayer"> 
    </embed>
</object>
</div>
<% end %>
<div class="other_participants">
    <% @room.participants.each do |participant| %>
        <% if participant != @participant %>
            <h2><%=participant.name%></h2>
        <% end %>
    <% end %>
</div>