<h1>Number of rooms: <%= @rooms.count %> </h1>
<div class="grid_12">
    <% @rooms.each do |@room| %>
        <% @room.phonebrowser_service.update_status if !@room.phonebrowser_service.nil?%>
        <%= render :partial => 'partial_room'%>
    <% end %>
</div>
