<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>ArpaMeeting API</title>
      <%= stylesheet_link_tag 'apidocs' %>
      <%= javascript_include_tag :defaults %>
  </head>
  <body>
      
    <div id="header" class="container_12">

        <div id="title" class="grid_12 ">
            <h1>ArpaMeeting API Docs</h1>
        </div>

    </div>

    <div id="content" class="container_12">

        <div class="grid_9">
            <%= yield %>
        </div>
    
        <div class="grid_3">
        </div>

    </div>
    
    <div id="footer" class="container_12">
    
        <div class="grid_12 ">
        </div>
    
    </div>

  </body>
</html>
